html body{

}
.header{
    height: 74px;
    background-color: rgb(218, 196, 196);
    
    width: 100%;
    
    position: fixed;
    

}
.container{
    width: 1114px;
    margin: auto;
    
    

}
.header-flex{
    display: flex;
    justify-content: space-between;
    position: relative;
    
    
    
    
    
    
    
    
    
}
.flex-item1{
    padding: 20px 0 10px;
    
}
.inline{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    
    

    
}
.inline li :hover{
    border: solid 1px;
    background-color: rgb(248, 252, 252);
    border-radius: 2px;
    

}
.flex-item2{
    padding-left: 10px;
}
.banner{
    height:401px;
    background-color: rgb(163, 158, 153);
    box-shadow: 0 0 30px 5px;
    border-radius: 5px;
}
.banner-flex{
    align-items: center;
    justify-content: center;
    padding-top: 180px;

}
.tommorow{
    padding-top: 20px;
}
.about{
    padding-left: 10px;
    text-decoration: none;
    
}
.today{
    font-size: 30px;
    font-weight: 900;
}
.tommorow{
    font-size: 30px;
    font-weight: 900;

}
.we{
    font-size: 20px;
    padding-top: 20px;
}
.courses1{
    padding-left: 10px;
    text-decoration: none;
}
.trainer{
    padding-left: 10px;
    text-decoration: none;
}
.event{
    padding-left: 10px;
    text-decoration: none;
}
.pric{
    padding-left: 10px;
    text-decoration: none;
}
.drop{
    padding-left: 10px;
    text-decoration: none;
}
.cont{
    padding-left: 10px;
    text-decoration: none;
}
.features{
    height: 531px;
    background-color: rgba(202, 211, 211, 0.829);
    box-shadow: 0 0 30px;
}
.fea-point{
    width: 579px;
    padding-top: 61px;
    font-size: 30px;
    /* background-color: blue; */

}
.fea-point h1{
    
}
.features-box{
    
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    
}
.image{
    height: 430px;
    width: 579px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 5px;
}
.count{
    height: 176px;
    background-color: rgba(112, 100, 100, 0.87);
}
.count-flex{
    display: flex;

}
.left-flex{
    padding-top: 50px;
}
.left-flex h1 {
    font-size: 50px;
    
}
.left-flex p {
    font-size: 30px;
}
.right-flex h1 {
    font-size: 50px;
    padding-left: 207px;
    padding-top: 50px ;

}
.right-flex p {
    font-size:30px ;
    padding-left: 207px;
    
}
.rightright-flex h1 {
    font-size: 50px;
    padding-left: 232px;
    padding-top: 50px;
    

}
.rightright-flex p {
    font-size: 30px;
    padding-left: 232px;
}
.rightflex-end h1 {
    font-size:50px ;
    padding-left: 235px;
    padding-top: 50px;
}
.rightflex-end p {
    font-size: 30px;
    padding-left: 235px;
}
.whyas{
    height: 432px;
    background-color: rgb(249, 244, 253);
}
.as-mentor{
    width: 357px;
    background-color: rgb(104, 158, 99);
    height:432px ;
    border-radius: 10px;
    box-shadow: 5px 10px 20px;
    
    
}
.as-mentor h1{
    font-size: 27px;
    padding-top: 39px;
    padding-left: 29px;

}
.as-mentor p{
    font-size:20px ;
    padding-top: 48px;
    padding-bottom: 35px;
    padding-left: 29px;
}
.as-mentor button{
    margin-left: 29px;
}
.as{
    display: flex;
}
.labours{
    display: flex;
    height: 432px;
}
.labor1{
    height: 366px;
    
    
    background-color: blanchedalmond;
    margin-left: 25px;
    width: 228px;
    margin-top: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 20px;
    

    
}
.labor2{
    height: 366px;
    background-color: rgba(146, 142, 137, 0.39)3;
    
    margin-left: 25px;
    width: 228px;
    margin-top: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 20px;
}
.labor3{
    
    height: 366px;
    background-color: bisque;
    
    margin-left: 25px;
    width: 228px;
    margin-top: 35px;
    border-radius: 5px;
    box-shadow: 0 10px 20px;
}
.laborh1{
    padding-top: 145px;
    padding-left: 35px;
}
.laborp{
    padding-left: 35px;
}
.boxbox{
    height: 391px;
    background-color: rgb(250, 250, 249);
    margin: 0%;
    transition-delay: 2s;
}
.whole-box{
    height: 279px;
    background-color: rgba(221, 240, 240, 0.342);
    
    
}
.down-box{
    padding-bottom: 61px;
}
.box-top{
    display: flex;

}
.lor{
    width: 259px;
    height:74px ;
    border: solid 1px;
}
.lor2{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;
}
.lor3{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;

}
.lor4{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;

}
.box-down{
display: flex;
}
.nemo{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-top: 26px;
    
}
.nemo2{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;
    margin-top: 26px;
}
.nemo3{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;
    margin-top: 26px;
}
.nemo4{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-left: 25px;
    margin-top: 26px;
}
.box-downdown{
display: flex;
}
.pack{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-top: 26px

}
.pack2{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-top: 26px;
    margin-left: 25px;
    
}
.pack3{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-top: 26px;
    margin-left: 25px;
}
.pack4{
    width: 259px;
    height:74px ;
    border: solid 1px;
    margin-top: 26px;
    margin-left: 25px;
}
.courses{
    height: 600px;
    background-color: rgb(150, 150, 165);

}
.headcourse{
    height: 107px;
}
.fontp{
    font-size: 30px;
    font-weight: 700;
}
.couresh1{
    font-size: 30px;

}
.popularcoures{
    display: flex;
    

}
.course1{
    height: 493px;
    background-color: rgb(184, 144, 144);
    width: 358px;
    
}
.course2{
    height: 493px;
    background-color: rgb(240, 192, 192);
    width: 358px;
    margin-left: 25px;
    

}
.course3{
    height: 493px;
    background-color: rgb(231, 160, 160);
    width: 358px;
    margin-left: 25px;
    

}
.computerimage{
    width: 358px;
    height: 237px;
}
.combutton{
    margin-left: 30px;
    margin-top: 30px;
    
    
}
.comph1{
    font-size: 30px;
    color: aliceblue;
}
.compp{
    font-size: 20px;
}
.bill{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /*justify-content: center;
    align-items: center;*/
    padding-left: 20px;

}
.trainers{
    height: 780px;
    background-color: rgba(236, 229, 243, 0.822);
}
.wholetrainer{
    
    height: 575px;
    /*background-color: aqua;*/
    display: flex;
    
}
.train1{
    width: 354px;
    height: 575px;
    background-color: rgba(160, 160, 184, 0.774);
    border-radius: 4px;
    box-shadow: 0 0 30px;
}
.train2{
    width: 354px;
    height: 575px;
    background-color: rgba(159, 159, 199, 0.925);
    margin-left: 26px;
    border-radius: 4px;
    box-shadow: 0 0 30px;
}
.train3{
    width: 354px;
    height: 575px;
    background-color: rgba(161, 161, 199, 0.568);
    margin-left: 26px;
    border-radius: 4px;
    box-shadow: 0 0 30px;
}
.toptrain{
    height: 122px;
}
.google{
    height: 354px;
    width: 354px;

}
.master{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    color: antiquewhite;
}
.welcome{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 20px;

}
.footer{
    height: 338px;
    background-color: blanchedalmond;
}
.footer-whole{
display: flex;
padding-top: 60px;

}
.foot1{
    padding-top: 61px;
    width: 283px;
    outline: solid 1px;
}
.foot2{
    padding-top: 61px;
    padding-left: 117px;
    width: 188px;
    outline: solid 1px;
    
}
.foot3{
    padding-top: 61px;
    padding-left: 65px;
    width: 283px;
    outline: solid 1px;

}
.foot4{
padding-top: 61px;
}
.foothero{
    
}
.legal{
    height: 92px;
    background-color: rgb(63, 58, 58);
}
.legal-rightleft{
    display: flex;
    justify-content: space-between;

}
.legal-left{
    padding-top: 28px;
}
.legalwrite{
    color: azure;
}
.legal-right{
    padding-top: 28px;

}

    
    
