html body {
    margin: 0;
    padding: 0;
    
}
.header-banner{
    height: 593px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
    
}
/*.bg-image{
    background-image: url(../construction.jpg);
    height: 593px;
    opacity: 50px;
}
/*.bg-image{
    background-image: url(../construction.jpg);
    filter: blur(2px);*/
.header-left h1{
    color: white;
}

.container{
    width: 1117px;
    position: relative;
    margin: auto;
    height: 100%;
    
    
}

#bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../ng.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

#bg-image > div{
    transition: 1s all 0s;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
}

.home,.about,.service,.project,.blog,.dropdown,.contact{
    color: white;
    
}
.header{
    
    display: flex;
    justify-content: space-between;
    
    
    
    
}
.header-left{
    

}
.header-right{
    width: 65%;
    margin-top: 1.5vh;
    
    
    
    
}
nav li{
    display: flex;
    display: inline-block;
}
nav li a{
    padding-left: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
 nav li a:hover{
    color: rgb(231, 231, 241);
    outline: solid 1px;
    width: 100vw;
    background-color: brown;
    
    
}
nav{
    padding:0 0 0 30px;
    
    
    
    
}
@media screen and (max-width:600px){
    nav li{
        display: none;
    }

    
}
@media screen and (max-width:600px){
    nav li{
        
    }
}
@media screen and (max-width:600px){
     nav li{
        display: ;
     }
}
    

.bar1{
    
    background-color: rgb(126, 154, 233);
   width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
}
.bar2{
    background-color: rgb(126, 154, 233);
    width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
}
.bar3{
    background-color: rgb(84, 153, 233);
    width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
    
}

.bar{
    display: flex;
    margin-top: 15px;
}
/*.banner{
    text-align: center;
    /*width: 50% 0 0 50%;
    
    
    background-color: brown;

}
.banner .wel{
    font-size: 3em;
    color: white;
    background-color: black;
    
}
.wel{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    
}
.banner p{
font-size: 1.4em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-first{
    width: 10%;
    height: 30px;
}
.banner h1{
    font-size: ;
}*/
.banner{
    text-align:center;
}
.down1{
    text-align: center;
    
}

.down.show{
    transform:scale(1);
    opacity: 1;
}
.wel{
    
    transition: 2s all 0s;
    font-size: 3em;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: white;
}
.down{
    transition: 2s all 0s;
    /* transform:scale(1.4);
    opacity: 0 */
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.808);
}
.button-first{
    height: 40px;
    width: 15%;
    border-radius: 20px;
    color: aliceblue;
    background:transparent;

}
hr{
    width: 35%;
}
.button-first:hover{
    background-color: black;
}
.quote{
    height: 731px;
    background-color: #f5f6f7;
    
}
.letterlogin-quote{
display: flex;
justify-content: space-between;
}
.letter-quote{
    height: 250px;
    width: 50%;
    margin-top: 80px;
}
.login-quote{
    
    height: 571px;
    background-color: white;
    margin-top: 80px;
    width: 451px;
    border-radius: 5px;
    

}
.name2{
    width: 390px;
    height: 46px;
    margin: 0 0 18px;
    margin-left: 29px;

}
.name1{
    width: 390px;
    height: 46px;
    margin: 23px 0 18px;
    margin-left: 29px;
}
.name4{
    width: 390px;
    height: 152px;
    margin: 0 0 18px 29px;
    
}
.name3{
    width: 390px;
    height: 46px;
    margin: 0 0 18px;
    margin-left: 29px;
}
.login-quote h1{
    font-size: 1em;
}
.login-quote button{
    margin-left: 151px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    
}
.login-quote p{
    margin-left: 29px;
}
.constructions{
    height: 954px;
}
.construt-area-head{
    height: 244px;
}
.construct-area-sites{
    display: flex;
    justify-content: space-between;
}
.construct-area-site1{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    display: flex;
}
.construct-area-site2{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    
    margin-left: 22px;
    display: flex;
}
.construct-area-sites2{
    display: flex;
    justify-content: space-between;
}
.construct-area-site3{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    margin-top: 22px;
    display: flex;
    
}
.construct-area-site4{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215);  
    margin-top: 22px;
    margin-left: 22px;
    display: flex;
}
.img1{
    width: 210px;
    height: 302px;
}
.construct-area-site1 h1 p{
    margin-left: 56px;
}
.abcd{
    margin-left: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 51px;
    font-weight: 800;
}
.a,.b,.c{
    margin-left: 56px;
    margin-top: 51px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.f,.g,.h,.e{
    margin-left:56px ;
    font-size: 18px;
    
    
    color: rgb(151, 151, 151);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.pp{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: rgb(49, 51, 51);
    filter: blur(.5px);
    

}
.ph{
    margin-top: -2%;
    font-size: 1.5em;
    text-align: center;
    color: rgb(151, 151, 151)
    
}
.imgob{
    opacity: ;
    
}
.services{
    height: 1091px;

}
.header-services{
    height: 244px;
    text-align: center;
    background-color: aqua;
    justify-content: center;
    
}
.whole-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.services1{
    height: 356px;
    width:356px;
    border: solid 1px;
}
.services2{
    height: 356px;
    width:356px;
    border: solid 1px;
    
}
.services3{
    height: 356px;
    width:356px;
    border: solid 1px;
}
.services4{
    height: 356px;
    width:356px;
    border: solid 1px;
    margin-top: 25px;
}
.services5{
    height: 356px;
    width:356px;
    border: solid 1px;
    margin-top: 25px;
}
.services6{
    height: 356px;
    width:356px;
    border: solid 1px;
    margin-top: 25px;
}



    




    
    
