html body {
    margin: 0;
    padding: 0;
    
}
.header-banner{
    height: 593px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover; 
    
    
    
}
.home{
    
    
    
}
/*.bg-image{
    background-image: url(../construction.jpg);
    height: 593px;
    opacity: 50px;
}
/*.bg-image{
    background-image: url(../construction.jpg);
    filter: blur(2px);*/
.header-left h1{
    color: white;
}

.container{
    width: 1117px;
    position: relative;
    margin: auto;
    height: 100%;
    
    
}

#bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../ng.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;


}

#bg-image > div{
   transition: 1s all 0s;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
}

.home,.about,.service,.project,.blog,.dropdown,.contact{
    color: white;
    
}
.header{
    
    display: flex;
    justify-content: space-between;
    
    
    
    
}
.header-left{
    

}
.header-right{
    width: 65%;
    margin-top: 1.5vh;
    
    
    
    
}
nav li{
    display: flex;
    display: inline-block;
}
nav li a{
    padding-left: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
 nav li a:hover{
    color: rgb(231, 231, 241);
    outline: solid 1px;
    width: 100vw;
    background-color: brown;
    
    
}
nav{
    padding:0 0 0 30px;
    
    
    
    
}
@media screen and (max-width:600px){
    nav li{
        display: none;
    }

    
}
@media screen and (max-width:500px){
    nav li{
        display: block;
        margin-top: 40px;
        margin-left: -175px;
        background-color: rgba(98, 99, 99, 0.336);
        width: 200px;
        
    }
}
@media screen and (max-width:600px){
     nav li{
        display: ;
     }
}
    

.bar1{
    
    background-color: rgb(126, 154, 233);
   width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
}
.bar2{
    background-color: rgb(126, 154, 233);
    width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
}
.bar3{
    background-color: rgb(84, 153, 233);
    width: 0.3vw;
    height: 2.5vh;
    margin-left: 3px;
    margin-top: 1.5vh;
    
}

.bar{
    display: flex;
    margin-top: 15px;
}
/*.banner{
    text-align: center;
    /*width: 50% 0 0 50%;
    
    
    background-color: brown;

}
.banner .wel{
    font-size: 3em;
    color: white;
    background-color: black;
    
}
.wel{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    
}
.banner p{
font-size: 1.4em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-first{
    width: 10%;
    height: 30px;
}
.banner h1{
    font-size: ;
}*/
.banner{
    text-align:center;
}
.down1{
    text-align: center;
    
}

.down.show{
    transform:scale(1);
    opacity: 1;
}
.wel{
    
    transition: 2s all 0s;
    font-size: 3em;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: white;
}
.down{
    transition: 2s all 0s;
    /* transform:scale(1.4);
    opacity: 0 */
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.808);
}
.button-first{
    height: 40px;
    width: 15%;
    border-radius: 20px;
    color: aliceblue;
    background:transparent;

}
hr{
    width: 35%;
}
.button-first:hover{
    background-color: black;
}
.quote{
    height: 731px;
    background-color: #f5f6f7;
    margin-top: 60px;
    
}
.letterlogin-quote{
display: flex;
justify-content: space-between;
}
.letter-quote{
    height: 250px;
    width: 50%;
    margin-top: 80px;
}
.login-quote{
    
    height: 571px;
    background-color: white;
    margin-top: 80px;
    width: 451px;
    border-radius: 5px;
    

}
.name2{
    width: 390px;
    height: 46px;
    margin: 0 0 18px;
    margin-left: 29px;

}
.name1{
    width: 390px;
    height: 46px;
    margin: 23px 0 18px;
    margin-left: 29px;
}
.name4{
    width: 390px;
    height: 152px;
    margin: 0 0 18px 29px;
    
}
.name3{
    width: 390px;
    height: 46px;
    margin: 0 0 18px;
    margin-left: 29px;
}
.login-quote h1{
    font-size: 1em;
}
.login-quote button{
    margin-left: 151px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    
}
.login-quote p{
    margin-left: 29px;
}
.constructions{
    height: 954px;
}
.construt-area-head{
    height: 244px;
}
.construct-area-sites{
    display: flex;
    justify-content: space-between;
}
.construct-area-site1{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    display: flex;
}
.construct-area-site2{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    
    margin-left: 22px;
    display: flex;
}
.construct-area-sites2{
    display: flex;
    justify-content: space-between;
}
.construct-area-site3{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215); 
    margin-top: 22px;
    display: flex;
    
}
.construct-area-site4{
    width: 543px;
    height: 302px;
    border: solid 0.1px rgb(221, 215, 215);  
    margin-top: 22px;
    margin-left: 22px;
    display: flex;
}
.img1{
    width: 210px;
    height: 302px;
}
.construct-area-site1 h1 p{
    margin-left: 56px;
}
.abcd{
    margin-left: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 51px;
    font-weight: 800;
}
.a,.b,.c{
    margin-left: 56px;
    margin-top: 51px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}
.f,.g,.h,.e{
    margin-left:56px ;
    font-size: 18px;
    
    
    color: rgb(151, 151, 151);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.pp{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: rgb(49, 51, 51);
    filter: blur(.5px);
    

}
.ph{
    margin-top: -2%;
    font-size: 1.5em;
    text-align: center;
    color: rgb(151, 151, 151)
    
}
.imgob{
    opacity: ;
    
}
.services{
    height: 1091px;
    background-color: rgb(236, 233, 233);

}
.header-services{
    height: 244px;
    
    background-color: rgb(236, 233, 233);
    
}
.head-set{
    display: flex;
    justify-content: center;
}
.head-set h6{
    /* margin-bottom: 20px; */
    margin-left: 10px;
    margin-right: 10px;
    

}
.head-set .hrr{
    width: 40px;
    height: 2px;
    background-color: rgb(255, 187, 0);
    margin-top: 95px;
    
    
    
}
.header-services h6{
    
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight:700;
    
}  
.header-services hr{
    width: 20px;
}

.header-services p{
    text-align: center;                                        
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.whole-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    

}
.services1{
    height: 356px;
    width:356px;
    background-color: #fffffffb;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;
    
    
}
/*.services1 > div{
    background:rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    position: relative;
    
}*/
.services2{
    height: 356px;
    width:356px;
    background-color: white;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;

    
}
.services3{
    height: 356px;
    width:356px;
    background-color: white;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;
}
.services4{
    height: 356px;
    width:356px;
    
    margin-top: 25px;
    background-color: white;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;
}
.services5{
    height: 356px;
    width:356px;
    
    margin-top: 25px;
    background-color: white;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;
}
.services6{
    height: 356px;
    width:356px;
    
    margin-top: 25px;
    background-color: white;
    box-shadow: white 0 0 5px 0;
    border-radius: 5px;
}
.services1{
    cursor: pointer;
}
.services1 i{
    font-size: 40px;

}
/*.services1 .nes:hover{
    background-color: aqua;
    text-decoration: underline coral;
}
.services1:hover  i::before{
    background-color: aqua;
   
}
.services1:hover  h2{
    background-color: aqua;
    color:red;
}
.services1 h2 {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    display: inline-block;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
  }
  .services1  i {
    color: var(--color-secondary);
    font-size: 40px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    line-height: 1.8;
}*/

.services1:hover i:before {
    background: orangered;
    font-size: xx-large;
    border-radius: 50%;
    
    
  }

  .services1:hover h2 {
    text-decoration: underline 2px orangered;
    transition-delay: 2s;
  }
  .services2:hover h2{
    text-decoration: underline 2px black ;
    
  }
  .services2:hover i:before{
    background-color: aquamarine;
    width: 20px;
    height: 30px;
    border-radius: 50%;
    
  }
.whole-services i{
     margin-top: 50px;
     margin-left: 39px;
     margin-bottom: 45px;
}

.services4::after{
    
    text-underline-position: below;
    color: black;


}
.fa-arrow-up-from-ground-water{
     

}

.whole-services p{
    padding-left:39px ;
    margin-bottom:27px ;
    font-size: 16.5px;
    color: rgb(110, 102, 102);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.whole-services h2{
    padding-left: 39px;
    padding-bottom: 40px;
    color: rgb(104, 100, 100);
    
}
.whole-services a{
    padding-left:39px ;
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16.7px;
    color:rgb(255, 115, 0);
}
.services6 div{
    height: 20px;
    width: 25px;
    background-color: rgb(139, 135, 135);
    position: absolute;
    margin-left: 100px;
    margin-top: 52px;
    border-radius: 50%;
}
.services6 i{
    position: relative;
}
.services6:hover div{
    background-color: red;
}
/*.services6 div{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius:50% ;
    position: absolute;
    margin-top: 20px;
}
.services6 i{
    
    position: relative;
}*/
.features{
    height: 974px;
    
    
    
}
.fea-pic{
display: flex;
justify-content: space-between;
}
.fea-left{
    
    width: 571px;
    height: 814px;
    margin-top: 80px;
    border: solid 1px;   
}
.feaimag{
    
    background-image: url(../alt-services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    width: 100%;
    height: 100%;
    
}
.fea-right{
    height: 816px;
    border: solid 1px;
    width: 50%;
    margin-top:80px;
}
.fea-right h1{
    padding-left: 61px;
}
.linediv{
    width: 100px;
    height: 3px;
    background-color: rgb(248, 20, 3);
    margin-left: 61px;
}
.fea-right p,i{
    padding-left: 61px;
}
.machines{
    height: 655px;
    background-color: aquamarine;
}
.header-machines{
    height: 165px;
    background-color: azure;
}
.maching-img{
display: flex;
}
.maching-provides{
    height: 408px;
    width: 574px;
    border: solid 1px;
}
.maching-imges{
    height: 408px;
    width: 545px;
    border: solid 1px;
    
}
.owr-project{
    height: 1511px;
    background-color: rgb(51, 70, 70);
}
.head-pro{
    height: 289px;
}
.project-whole{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.project-whole .images{
    height: 268px;
    width: 356px;
    border: solid 1px;
}
.project-whole .margin{
    margin-top: 26px;
}
.testimonals{
    height: 683px;
    border: solid 1px;
}
.head-testi{

    height: 245px;
    border: solid 1px;
}
.leftright-testi{

    display: flex;
    justify-content: space-between;
}
.left-testi{
    height: 283px;
    width: 483px;
    border: solid 1px;
}
.right-testi{
    height: 283px;
    width: 483px;
    border: solid 1px;
}
.recent-blogpost{
    height: 806px;
    border: solid 1px;

}
.head-post{
    height: 244px;
    border: solid 1px;
}
.posthead{

    display: flex;
    justify-content: space-between;
}
.leftpost{
    height: 480px;
    width: 355px;
    border: solid 1px;
}
.rightpost{
    height: 480px;
    width: 355px;
    border: solid 1px;
}
.middlepost{
    height: 480px;
    width: 355px;
    border: solid 1px;
}
.footer{
    height: 474px;
    border:solid 1px;
    position: relative;
   /* background-image: url(../istockphoto.jpg);
    background-repeat: no-repeat;*/

    
}
#footimg {
    height: 100%;
    width: 100%;
    background-image: url(../istockphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
}
#footimg > div{
    background: rgba(231, 57, 57, 0.7);
    height: 100%;
    width: 100%;
    
    

}


/*.hov > div{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: rgb(214, 105, 105);
    margin-top: 50px;
}
.hov > div:hover{
    width: 150px;
    transition-delay: 0.4s;
    transition: 0.5s;

}
.hov{
    display: flex;
    
}
.nice::before{
    transition: 0;
    transform: scale(0);

}
.nice::after{
     width: 100px;
}
.nice:hover::after{
width: 100px;
}
.nice{
    position: relative;
    transform: scale(o);
}*/



    
    


































    




    
    
